.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.ai-c{
    align-items: center;
}

.jc-se{
    justify-content: space-evenly;
}

.jc-f-end{
    justify-content: flex-end;
}

.jc-f-start{
    justify-content: flex-start;
}

.row{
    flex-direction: row;
}

.rel{
    position:relative;
}